<div id="switch">
  <h4>Switch configuration (HP1345 Relay MUX - 32 Channels)</h4>
  <div id="m_mux">
    
    <!--<ng-container *ngFor="let s of switch0; let i = index">
      {{100+i}} <input type="checkbox"
                    name="options{i}"
                    value="x{i}"
                    [(ngModel)]="switch0[i]" 
                    (change)="onSwitchChange(100+i)">
    </ng-container>-->
    100 <input type="checkbox" name="c100" value="v100" [(ngModel)]="switch0[0]" (change)="onSwitchChange(100)">
    101 <input type="checkbox" name="c101" value="v101" [(ngModel)]="switch0[1]" (change)="onSwitchChange(101)">
    102 <input type="checkbox" name="c102" value="v102" [(ngModel)]="switch0[2]" (change)="onSwitchChange(102)">
    103 <input type="checkbox" name="c103" value="v103" [(ngModel)]="switch0[3]" (change)="onSwitchChange(103)">
    104 <input type="checkbox" name="c104" value="v104" [(ngModel)]="switch0[4]" (change)="onSwitchChange(104)">
    105 <input type="checkbox" name="c105" value="v105" [(ngModel)]="switch0[5]" (change)="onSwitchChange(105)">
    106 <input type="checkbox" name="c106" value="v106" [(ngModel)]="switch0[6]" (change)="onSwitchChange(106)">
    107 <input type="checkbox" name="c107" value="v107" [(ngModel)]="switch0[7]" (change)="onSwitchChange(107)">
    108 <input type="checkbox" name="c108" value="v108" [(ngModel)]="switch0[8]" (change)="onSwitchChange(108)">
    109 <input type="checkbox" name="c109" value="v109" [(ngModel)]="switch0[9]" (change)="onSwitchChange(109)">
    110 <input type="checkbox" name="c110" value="v110" [(ngModel)]="switch0[10]" (change)="onSwitchChange(110)">
    111 <input type="checkbox" name="c111" value="v111" [(ngModel)]="switch0[11]" (change)="onSwitchChange(111)">
    112 <input type="checkbox" name="c112" value="v112" [(ngModel)]="switch0[12]" (change)="onSwitchChange(112)">
    113 <input type="checkbox" name="c113" value="v113" [(ngModel)]="switch0[13]" (change)="onSwitchChange(113)">
    114 <input type="checkbox" name="c114" value="v114" [(ngModel)]="switch0[14]" (change)="onSwitchChange(114)">
    115 <input type="checkbox" name="c115" value="v115" [(ngModel)]="switch0[15]" (change)="onSwitchChange(115)">
  
    <br>
    <!--<ng-container *ngFor="let s of switch1; let i = index">
      {{200+i}} <input type="checkbox"
                    name="i"
                    value="i"
                    [(ngModel)]="switch1[i]" 
                    (change)="onSwitchChange(200+i)">
    </ng-container>-->
    200 <input type="checkbox" name="c200" value="v200" [(ngModel)]="switch1[0]" (change)="onSwitchChange(200)">
    201 <input type="checkbox" name="c201" value="v201" [(ngModel)]="switch1[1]" (change)="onSwitchChange(201)">
    202 <input type="checkbox" name="c202" value="v202" [(ngModel)]="switch1[2]" (change)="onSwitchChange(202)">
    203 <input type="checkbox" name="c203" value="v203" [(ngModel)]="switch1[3]" (change)="onSwitchChange(203)">
    204 <input type="checkbox" name="c204" value="v204" [(ngModel)]="switch1[4]" (change)="onSwitchChange(204)">
    205 <input type="checkbox" name="c205" value="v205" [(ngModel)]="switch1[5]" (change)="onSwitchChange(205)">
    206 <input type="checkbox" name="c206" value="v206" [(ngModel)]="switch1[6]" (change)="onSwitchChange(206)">
    207 <input type="checkbox" name="c207" value="v207" [(ngModel)]="switch1[7]" (change)="onSwitchChange(207)">
    208 <input type="checkbox" name="c208" value="v208" [(ngModel)]="switch1[8]" (change)="onSwitchChange(208)">
    209 <input type="checkbox" name="c209" value="v209" [(ngModel)]="switch1[9]" (change)="onSwitchChange(209)">
    210 <input type="checkbox" name="c210" value="v210" [(ngModel)]="switch1[10]" (change)="onSwitchChange(210)">
    211 <input type="checkbox" name="c211" value="v211" [(ngModel)]="switch1[11]" (change)="onSwitchChange(211)">
    212 <input type="checkbox" name="c212" value="v212" [(ngModel)]="switch1[12]" (change)="onSwitchChange(212)">
    213 <input type="checkbox" name="c213" value="v213" [(ngModel)]="switch1[13]" (change)="onSwitchChange(213)">
    214 <input type="checkbox" name="c214" value="v214" [(ngModel)]="switch1[14]" (change)="onSwitchChange(214)">
    215 <input type="checkbox" name="c215" value="v215" [(ngModel)]="switch1[15]" (change)="onSwitchChange(215)">
  </div>
  
</div>
