<div id="afg" >
  <hr>
  <h3>{{deviceName}} (Arbitrary Function Generator in {{mainframe}})</h3>
  <p>
      <!-- action buttons -->
      <button (click)="start()">
        <md-icon>settings_power</md-icon>
        <span>Start</span>
      </button>
      <button (click)="stop()">
        <md-icon>settings_power</md-icon>
        <span>Stop</span>
      </button>
  </p>
  <button (click)="restart()">
    <md-icon>Restart</md-icon>
    <span>Restart</span>
  </button>

   <!-- config inputs -->
   <div id="config" *ngIf="active">

    <label for="afg_waveform_source">Waveform source:</label>
    <select name="afg_waveform_source" [(ngModel)]="selectedSourceItem">
      <option *ngFor="let m of allowedSources" [ngValue]="m">{{m.value}}</option>
    </select> 

    <div id="afg_std_waveform_div" style="display: inline;" *ngIf="selectedSourceItem.value=='Standard'">
      <label for="afg_std_waveform">Waveform:</label>
      <select name="afg_std_waveform" [(ngModel)]="selectedStandardWaveformItem" (ngModelChange)="onStdShapeChange($event)">
        <option *ngFor="let m of standardWaveforms" [ngValue]="m">{{m.value}}</option>
      </select> 
     </div>

    <div id="afg_builtin_waveform_div" style="display: inline;" *ngIf="selectedSourceItem.value=='Builtin'">
      <label for="afg_builtin_waveform">Waveform:</label>
      <select name="afg_builtin_waveform" [(ngModel)]="selectedBuiltinWaveformItem" (ngModelChange)="onBuiltinShapeChange($event)">
        <option *ngFor="let m of builtinWaveforms" [ngValue]="m">{{m.value}}</option>
      </select> 
    </div>

    <br> 

    <label for="afg_amplitude">Amplitude [V]:</label>
    <input type="text" id="afg_amplitude" [(ngModel)]="amplitude" (ngModelChange)="onAmplitudeChange($event)">

    <label for="afg_frequency">Frequency [V]:</label>
    <input type="text" id="afg_frequency" [(ngModel)]="frequency" (ngModelChange)="onFrequencyChange($event)">

    <br> 
    <!-- Sweeping -->
    <label for="sweeponoff">Sweeping</label>
    <input id="sweeponoff" type="checkbox" [(ngModel)]="sweeping" (ngModelChange)="onSweepChange($event)">

    <div id="div_sweep" style="display: inline;" *ngIf="sweeping">

      <label for="afg_sweep_start_frequency">Start frequency:</label>
      <input type="text" id="afg_sweep_start_frequency" [(ngModel)]="sweepStartFrequency" (ngModelChange)="onSweepStartFrequencyChange($event)"> 
      
      <label for="afg_sweep_start_frequency">Stop Frequency:</label>
      <input type="text" id="afg_sweep_stop_frequency" [(ngModel)]="sweepStopFrequency" (ngModelChange)="onSweepStopFrequencyChange($event)">
      
      <br> 
      <label for="afg_sweep_points">Points:</label>
      <input type="text" id="afg_sweep_points"  [(ngModel)]="sweepPoints" (ngModelChange)="onSweepPointsChange($event)"> 
      
      <label for="afg_sweep_time">Time [s]:</label>
      <input type="text" id="afg_sweep_time" value="10"  [(ngModel)]="sweepTime" (ngModelChange)="onSweepTimeChange($event)">

      <button onclick="vxiclient.generator.setSweep();">Update Sweep
      </button>

    </div>
      
    <br> 

    <!-- Markers -->

    <label for="afg_marker_feed">Marker Feed:</label>
    <select name="afg_marker_feed" [(ngModel)]="selectedMarkerFeedItem" (ngModelChange)="onMarkerFeedChange($event)">
      <option *ngFor="let m of markerFeeds" [ngValue]="m">{{m.value}}</option>
    </select> 

    <label for="afg_marker_pol">Slope:</label>
    <select name="afg_marker_pol" [(ngModel)]="selectedMarkerPolarityItem" (ngModelChange)="onMarkerPolarityChange($event)">
      <option *ngFor="let m of markerPolarity" [ngValue]="m">{{m.value}}</option>
    </select> 

    </div>
</div>
<!-- end of AFG div -->