<h1>System</h1>

<!--<ul *ngFor="let dev of getDevices()">
  <li >
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
   </li>
</ul> -->

<h3>Mainframes</h3>
<ul *ngFor="let dev of getDevices()">
  <li *ngIf="dev.type==='mainframe'">
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
    <!-- <app-counter deviceName="{{dev.name}}" deviceURL="{{dev.URL}}"></app-counter> -->
  </li>
</ul>

<h3>Counters</h3>
<ul *ngFor="let dev of getDevices()">
  <li *ngIf="dev.type==='counter'">
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
    <!-- <app-counter deviceName="{{dev.name}}" deviceURL="{{dev.URL}}"></app-counter> -->
  </li>
</ul>

<h3>Multimeters</h3>
<ul *ngFor="let dev of getDevices()">
  <li *ngIf="dev.type==='multimeter'">
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
    <!-- <app-multimeter deviceName="{{dev.name}}" deviceURL="{{dev.URL}}"></app-multimeter> -->
  </li>
</ul>

<h3>Switches</h3>
<ul *ngFor="let dev of getDevices()">
  <li *ngIf="dev.type==='switch'">
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
    <!-- <app-counter deviceName="{{dev.name}}" deviceURL="{{dev.URL}}"></app-counter> -->
  </li>
</ul>

<h3>Frequency Generators</h3>
<ul *ngFor="let dev of getDevices()">
  <li *ngIf="dev.type==='afg'">
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
    <!-- <app-counter deviceName="{{dev.name}}" deviceURL="{{dev.URL}}"></app-counter> -->
  </li>
</ul>

<h3>Digital IO</h3>
<ul *ngFor="let dev of getDevices()">
  <li *ngIf="dev.type==='digitalIO'">
    A {{dev.type}} named {{dev.name}} in {{dev.mainframe}} with service URL {{dev.URL}}
    <!-- <app-counter deviceName="{{dev.name}}" deviceURL="{{dev.URL}}"></app-counter> -->
  </li>
</ul>
