<md-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>

  <button (click)="onPacerStart()">
    <md-icon>settings_power</md-icon>
    <span>Start</span>
  </button>
  <button (click)="onPacerStop()">
    <md-icon>settings_power</md-icon>
    <span>Stop</span>
  </button>

  <span class="spacer"></span>

  <button (click)="onRecordOn()">
    <md-icon>videocam</md-icon>
    <span>Record On</span>
  </button>
  <button (click)="onRecordOff()">
    <md-icon>videocam_off</md-icon>
    <span>Record Off</span>
  </button>

  <span class="spacer"></span>
  <label for="setPaceTime">Pacer:</label>
  <select name="setPaceTime" [(ngModel)]="selectedPaceItem" (ngModelChange)="onChangePaceTime($event)">
    <option *ngFor="let t of allowedPaceTimes" [ngValue]="t">{{t.value}}</option>
  </select> 
 
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>Login</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>announcement</md-icon>
      <span>Issues</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</md-toolbar>

<app-system></app-system>

<app-counter></app-counter>

<app-frequency-generator></app-frequency-generator>

<app-digital-io></app-digital-io>

<app-multimeter></app-multimeter>

<app-event-log>
  
</app-event-log>
<app-graph-view></app-graph-view>

<md-tab-group>
  <md-tab label="Devices">

    <!--<md-card *ngFor="let image of images; let i = index">
      <img md-card-image src="{{ image.media.m }}">
      <md-card-content>
        <p>{{ image.title }}</p>
      </md-card-content>
    </md-card>-->

      <!--<button md-menu-item (click)="reload()" >
        <md-icon>cached</md-icon>
        <span>Reload</span>
      </button>   <md-grid-list cols="8">
      <h1>{{device}}</h1>
      <h2>{{devIdn.name}}</h2>
      <h3>Devices</h3>
    
      <md-grid-tile *ngFor="let device of devices">
        <a href="{{device.id}}">
          {{device.comment}}
        </a>
        <md-grid-tile-footer>
          
           {{device.name}}
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>

    <md-card *ngFor="let device of devices; let i = index">
      <md-card-content>
        <p>{{ device.name }}</p>
      </md-card-content>
    </md-card>-->

    <p style="color:red"><b>{{error}}</b></p>
  </md-tab>


  <md-tab label="Settings">
  </md-tab>
</md-tab-group>
